@import "../../../../assets/styles/main.scss";

.container-priceList {
  width: 100%;
  max-width: 1280px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    padding: 15px;
    display: flex;
    gap: 520px;

    @media (max-width: 768px) {
      gap: 370px;
    }
  
    @media (max-width: 480px) {
      gap: 50px;
    }

    &-title {
      @include title;
      width: 220px;
    }

    &-btnOrder {
      @include mainText;
      width: 150px;
      border-radius: 25px;
      background-color: $white;
      font-weight: bold;
      & a:first-child {
        text-decoration: none;
        color: $main;
      }
      &:hover {
        box-shadow: 0 0 10px 5px $yellow;
      }     
    }
  }

  &__table {
    @include mainText;
    border: 1px solid $grayblue;
    border-collapse: collapse;
    
    & > thead:first-child {
      @include subtitle;
      text-align: center;
    }

    & th {
      @include mainText;
      padding: 10px;
      border: 1px solid $grayblue;
      font-weight: bold;
    }
    
    & td {
      padding: 10px;
      border: 1px solid $grayblue;
      color: $white;
    }
  }

  &__table_name {
    border: none;
    text-align: center;
    font-weight: bold;
  }
}